@model ViewWPost.Models.Course

@{
    ViewData["Title"] = "Course Details";
}

<h1>CourseDetails</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            Title
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Capacity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="School" asp-action="Index">Back to Index</a>
</div>
